# Files
*.pyc
*.sql
*.db
*.jpeg
*.png
*.sqlite
hashes.txt
Reviews.csv
nofap_dates.txt
time_slots.txt
mnist_test.csv
mnist_train.csv
cleaned_strings
cleaned_string.csv
glove_vectors
preprocessed_data.csv
resources.csv
train_data.csv
*.zip
*.7z
training_text
training_variants
lenet-architecture-a-complete-guide.ipynb
documents.rar
*pkl

# Directories
.ipynb_checkpoints
Books
Notes
demo_data
Applied-AI-Course/Interview
Applied-AI-Course/Modules/M06-ML-Case-Studies/03-Facebook-Friend-Recommendation/data/
Applied-AI-Course/Assignments/A17-Facebook-Friend-Recommendation/data/
Applied-AI-Course/Modules/M06-ML-Case-Studies/06-Microsoft-Malware-Detection/data/
Applied-AI-Course/Assignments/A16-Microsoft-Malware-Detection/data/
Applied-AI-Course/Assignments/A21-Document-Classification-CNN/documents
Applied-AI-Course/Assignments/A21-Document-Classification-CNN/1-no_emails_documents
Applied-AI-Course/Assignments/A21-Document-Classification-CNN/2-no_subject_documents
Applied-AI-Course/Assignments/A21-Document-Classification-CNN/3-no_from_write_to_documents
Applied-AI-Course/Assignments/A21-Document-Classification-CNN/4-no_tags_brackets_documents
Applied-AI-Course/Assignments/A21-Document-Classification-CNN/5-no_whitespace_colon_documents
Applied-AI-Course/Assignments/A21-Document-Classification-CNN/6-chunked_documents
Applied-AI-Course/Assignments/A21-Document-Classification-CNN/7-final_documents
Applied-AI-Course/Assignments/A21-Document-Classification-CNN/data_raw_preprocessed.csv
Applied-AI-Course/Assignments/A21-Document-Classification-CNN/glove.840B.300d-char.txt
